@import "tailwindcss";

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Lt BT";
  src: url("/fonts/CooperLtBT-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.text-secondary {
  color: #898989 !important;
}

.font-cooper {
  font-family: "Cooper Lt BT", serif !important;
}

body {
  font-family: "Mabry Pro", sans-serif !important;
}
